{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            {% if app.user == user.username %}

            {% else %}

            {% endif %}
        </div>
    </div>
{% endblock %}
