{% extends 'base.html.twig' %}

{% block title %}Bienvenue au BDE !{% endblock %}

{% block body %}
<div>
    <div class="card border-warning cartelarge">
        <div class="card-header">Bienvenue sur le site officiel du BDE Réseaux et Télécoms Grenoble</div>
        <div class="card-body">
            <h4 class="card-title">Comment ça marche?</h4>
            <p class="card-text">Ici vous retrouverez toutes les dernières news, les derniers memes, et vous pourrez même trouver votre partenaire de jeu!</p>
        </div>
    </div>
</div>
{% endblock %}
